@Styles.Render("~/Content/pages/About.css")

<div class="mainContent">
    <p>Why does DaveWintermute.com exist? What's the <span style="font-style:italic">point??</span></p>
    <p>
    Well, the big reason is that I wanted my own little sandbox on the Internet to try out a whole bunch of different ideas and techniques, and get
        feedback from people about what they did or didn't like. 
    </p>
    <p>
    This site contains relatively little "pre-packaged" content; it's basically all written from scratch in ASP.NET MVC. 
        Not that I mind leveraging third party libraries and tools, I just wanted to dig in a little bit and start from scratch! 
        All of the layout and effects are built on HTML, CSS, JavaScript, and of course jQuery. 
        The back-end is written in C#, using a whole bunch of Entity Framework Code First. 
    </p>
    <p>
    Feel free to shoot me an email or @Html.ActionLink("post on my board", "Index", "MessageBoard") if you have any thoughts or feedback!
    </p>
</div>