@Scripts.Render("~/Scripts/DaveScript/Pages/Contact.js")

<div class="emailDivContainer">
    <div class="emailDiv">
        Please feel free to contact me!
        <br />
        <br />
        <a href="mailto:dwinterm@gmail.com">dwinterm@gmail.com</a>
    </div>
</div>