
@Styles.Render("~/Content/Pages/Links.css")

<div class="pageHeader">Links.</div>

<div class="linkSection">
    <div class="linkSectionHeader">
        <div class="linkSectionHeaderTitle">Site References</div>
        <div class="linkSectionHeaderDescription">Miscellaneous things that happen to be relevant to this site.</div>
    </div>
    <div class="linkSectionContent">
        <div class="singleLink">
            <div class="singleLinkLink">
                <a href="https://github.com/davew2040/DaveWintermuteDotCom/">DaveWintermute.Com GitHub Repository</a>
            </div>
            <div class="singleLinkDescription">
                All of the code that goes into the operation of best DaveWintermute.Com site in the entire world!!
            </div>
        </div>

        <div class="singleLink">
            <div class="singleLinkLink">
                <a href="https://www.eecs.umich.edu/">University of Michigan Computer Science</a>
            </div>
            <div class="singleLinkDescription">
                I doubt any of this would have been possible without Michigan teaching me a thing or two about computers.
            </div>
        </div>
    </div>
</div>

<div class="linkSection">
    <div class="linkSectionHeader">
        <div class="linkSectionHeaderTitle">Developer Links</div>
        <div class="linkSectionHeaderDescription">Useful sites for software developers.</div>
    </div>
    <div class="linkSectionContent">
         <div class="singleLink">
            <div class="singleLinkLink">
                <a href="http://channel9.msdn.com/">Channel 9</a>
            </div>
            <div class="singleLinkDescription">
                A great place to keep up with the comings and goings in the world of Microsoft development frameworks and tools. 
            </div>
        </div>
        <div class="singleLink">
            <div class="singleLinkLink">
                <a href="http://www.stackoverflow.com/">Stack Overflow</a>
            </div>
            <div class="singleLinkDescription">
                How did anybody get anything done before Stack Overflow?!
            </div>
        </div>
        <div class="singleLink">
            <div class="singleLinkLink">
                <a href="http://www.codecademy.com/">Code Academy</a>
            </div>
            <div class="singleLinkDescription">
                Some really great (and free!) hands-on tutorials for learnings the basics of quite a few topics in the world of software development.
            </div>
        </div>
        <div class="singleLink">
            <div class="singleLinkLink">
                <a href="https://unity3d.com/">Unity</a>
            </div>
            <div class="singleLinkDescription">
                Probably the best thing to happen to game development in a decade. An inexpensive but fully-featured game engine that trivializes a lot of the cumbersome stuff while leaving plenty of power to bring your ideas to life. 
            </div>
        </div>
        <div class="singleLink">
            <div class="singleLinkLink">
                <a href="http://www.reddit.com/r/programming/">/r/programming</a>
            </div>
            <div class="singleLinkDescription">
                Programming topics of all shapes and sizes.
            </div>
        </div>
    </div>
</div>