@Scripts.Render("~/Scripts/DaveScript/Pages/Resume.js")
@Styles.Render("~/Content/Pages/Resume.css")

<div class="resume">
    <div class="resumeHeader pageHeader">
        The R&eacutesum&eacute.
    </div>

<div class="daveInfo">
    <div class="daveName">Dave Wintermute</div>
    <div class="daveEmail"><a href="mailto:dwinterm@gmail.com">dwinterm@gmail.com</a></div>
    <div class="daveLocation"><a href="https://maps.google.com/maps?q=gainesville,+fl&hl=en&ll=29.654941,-82.316437&spn=0.136497,0.264187&sll=29.68627,-82.319746&sspn=0.272909,0.528374&t=h&hnear=Gainesville,+Alachua,+Florida&z=13">Gainesville, FL</a></div>
</div>

<div class="resumeContentBundle">

    <div class="clickableResumeHeader"><span>Developer Summary</span></div>

    <div class="resumeContentDiv">
        <div class="resumeContentSubDiv">
            Software Development Engineer with diverse experience in areas such as Web and Windows application development in .NET, graphics programming with DirectX and OpenGL, and multimodal interface design and implementation. 
            Demonstrates creative solutions to complex technological and process-related challenges. 
            Established reputation for quickly learning new technologies and concepts. 
            Applies strong technical expertise together with solid communication and interpersonal skills to engineer top notch user experiences.  
        </div>
    </div>
</div>

<div class="resumeContentBundle">
    <div class="clickableResumeHeader"><span>Skills</span></div>
    <div class="resumeContentDiv">
        <div class="resumeContentSubDiv">
            <ul class="multiple_columns">
                <li>C#, .NET environment</li> 	
                <li>Visual Studio (up to 2013), Eclipse</li>
                <li>MS SQL Server, Entity Framework 6</li>
                <li>Agile and SCRUM methodology</li>
                <li>ASP.NET, MVC4, WebForms</li>
                <li>JavaScript w/ Ajax, jQuery, ExtJS, JSON</li>
                <li>JS data-binding frameworks (Knockout, AngularJS)</li>
                <li>Team Foundation Server, Mercurial, Git, Perforce</li>	
                <li>Silverlight, WPF</li>
                <li>Web Services in WebAPI, WCF, ASMX</li> 
                <li>HTML5, CSS3</li>
                <li>C / C++ (with STL)</li>  
                <li>XML, XSLT</li>
                <li>Multiple Unix Platforms (BSD, Linux)</li> 
                <li>g++/gdb</li>	
                <li>MS Office Suite, Star Office Suite</li>
                <li>OpenGL 1.4, SDL; DirectX 9.0</li>	   
                <li>HTTP, DNS, FTP, Active Directory server administration</li>	
                <li>Citrix Certified System Administrator</li>	   
                <li>VMWare, Altiris Image Management Software</li>	
                <li>WebSphere Application Environment</li>	 
            </ul>
        </div>
    </div>
</div>

<div class="resumeContentBundle">
    <div class="clickableResumeHeader"><span>History</span></div>

    <div class="resumeContentDiv">
        <div class="resumeContentSubDiv">
            <div class="company">
                <span class="companyName">Mindtree Corporation</span>
                <span class="companyLocation">Gainesville, FL</span>
                <span class="companyDates">2012 - 2014</span>
                <div class="position">
                    <span class="positionTitle">Senior Software Engineer</span>
                    <div class="positionDescription">
                        <ul>
                            <li>Collaborated closely with customer team to bring to market a product to visualize the health and realtime diagnostic status of large electric systems. Employed rich client-side interactivity technologies including several toolkits based on jQuery UI. Leveraged sophisticated n-tiered design centered on JSON-based Web services to deliver a responsive single-page user experience through ASP.NET MVC4.</li>
                            <li>Lead project team developing several internal projects (related to resource management and workplace suggestion tracking). Used agile project management techniques for task scheduling, with Version One for iteration tracking. Leveraging ASP.NET MVC4 with jQuery UI as a development framework, Entity Framework 5 on MS SQL Server for data access and storage, and Team Foundation Server for version control. </li>
                        </ul>
                    </div>
                </div>
                <div class="position">
                    <span class="positionTitle">Technologies Trainer</span>
                    <div class="positionDescription">
                        <ul>
                            <li>Developed course material for and led courses for topics including: C# language features and the .NET environment, SQL and database concepts, Web application development in ASP.NET, integrating Web services using WCF, desktop application development in WPF with MVVM, testing concepts and methodologies, test automation using HP QuickTest Professional.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="company">
                <span class="companyName">TYBRIN Corporation</span>
                <span class="companyLocation">Fort Walton Beach, FL</span>
                <span class="companyDates">2009 - 2012</span>
                <div class="position">
                    <span class="positionTitle">Software Development Engineer, Patriot Excalibur Project</span>
                    <div class="positionDescription">
                        <ul>
                            <li>Engaged in the ground-up development of multiple completely new modules within the Patriot Excalibur product (which provides resource management and tracking facilities for military customers, primarily the USAF).</li>
                            <li>Developed highly user-friendly user experiences using the Microsoft Silverlight framework, which leveraged Microsoft RIA WCF Services to deliver data from an Entity Framework-based back-end. </li>
                            <li>On other projects, employed ExtJS and jQuery to develop Web-based user interface, which interacted with SOAP Web services (implemented in C#) via Ajax. Implemented underlying data model via Entity Framework on Microsoft SQL Server 2005; interfaced with it via extensive use of LINQ. Product built on ASP.NET running within IIS server environment.</li>
                            <li>Worked successfully on team that subscribed thoroughly to Agile software engineering methodology and principles for its development practices and planning.</li>
                        </ul>
                    </div>
                </div>
                <div class="position">
                    <span class="positionTitle">Software Development Engineer in Test, Patriot Excalibur Project</span>
                    <div class="positionDescription">
                        <ul>
                            <li>Drove project to build a test automation framework and initial test set for the Patriot Excalibur product; Leveraged AutomatedQA TestComplete and Microsoft Visual Studio 2010 (pre-release candidate) Test Automation framework for this task. </li>
                            <li>Served as technical mentor in development areas for those team members with experience more focused on software testing methodology and execution.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="company">
                <span class="companyName">Citrix Systems</span>
                <span class="companyLocation">Fort Lauderdale, FL</span>
                <span class="companyDates">2006 - 2009</span>
                <div class="position">
                    <span class="positionTitle">Software Development Engineer in Test, Application Streaming </span>
                    <div class="positionDescription">
                        <ul>
                            <li>Contributed to test effort for first release of Citrix Application Streaming feature and initial Application Streaming application compatibility test plan.  </li>
                            <li>Developed test suite for initial release of Citrix Streaming Profiler SDK, including both C# and VB support; collaborated with documentation team to build technical documentation for that release.</li>
                        </ul>
                    </div>
                </div>
                <div class="position">
                    <span class="positionTitle">Software Development Engineer in Test, Citrix Password Manager (CPM)</span>
                    <div class="positionDescription">
                        <ul>
                            <li>Key contributor to successful release of Citrix Password Manager product, including full test closedown cycle. </li>
                            <li>Managed maintenance and feature development for CPM automated test system (encompassing several hundred automated testcases and substantial operating system-level integration; implemented primarily in C# through Visual Studio</li>
                            <li>Implemented and integrated mechanisms to allow automated test platform to perform various logon operations via Vista credential provider interface. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="company">
                <span class="companyName">IBM</span>
                <span class="companyDates">2006 - 2009</span>
                <div class="position">
                    <span class="positionTitle">Extreme Blue Program, Austin, TX - Outspoken Team, Software Developer</span>
                    <div class="positionDescription">
                        <ul>
                            <li>Worked with multi-functional team to develop first end-to-end Web application based on IBM’s multimodal interface technology. Built upon previous experience with IBM’s XHTML+VoiceXML language; worked within IBM’s WebSphere J2EE environment.</li>
                        </ul>
                    </div>
                </div>
                <div class="position">
                    <span class="positionTitle">Pervasive Computing, Boca Raton, FL - Software Developer  </span>
                    <div class="positionDescription">
                        <ul>
                            <li>Interned with IBM Pervasive Computing Development organization, working on development of world’s first multimodal Web browser.</li>
                            <li>Successfully delivered numerous XHTML+VoiceXML technology demonstrations and test scenarios; implemented in the J2EE environment, interacted with IBM DB2 databases.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="resumeContentBundle">
    <div class="clickableResumeHeader"><span>Education</span></div>
    <div class="resumeContentDiv">
        <div class="resumeContentSubDiv">
            <div class="education">
                <div class="degree">BS, Computer Science</div>
                <div class="school">University of Michigan, Ann Arbor, MI, 2005</div>
                <div class="degreeExtra">Awarded Dean’s Merit Scholarship through College of Literature, Science and Arts.</div>
                <div class="degreeExtra">Focus on computer visualization and realtime graphics rendering.</div>
            </div>
        </div>
    </div>
</div>

</div>