
<div class="galleryTemplate" style="display:none;">
    <div class="backArrow"><img src="~/Images/whitearrowleft.png" class="galleryArrow"/>
    </div>
    <div class="galleryContentHolder">
        <div class="galleryContent"></div>
    </div>
    <div class="forwardArrow"><img src="~/Images/whitearrowright.png" class="galleryArrow" />
    </div>
</div>