.linkDisplayer {
    background-color: red;
}

.linkDisplayerContent {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-width: 1px;
    border-color: black;
}

.linkDisplayerContent input {
    width: 450px;
}

