
<h1>Password Reset Request</h1>
After entering your email address in the field belowing and pressing the "Request Reset" button, a link will be emailed to your email address with instructions on how to reset your password.<br />
<br />
<br />

@using (Html.BeginForm("ResetPassword", "Account"))
{
    @Html.AntiForgeryToken()
    @: Email Address:<br />

    @Html.TextBox("emailAddress")<br />
    <br />

    <button type="submit">Request Reset</button>
}