@model TheDaveSite.ViewModels.Account.ResetPasswordLink_ViewModel

<h2>Reset Password Status:</h2>

@if (!Model.TokenFound)
{
    @: Could not find a user with that ID.
}
else{
    @: Your password has been reset to <b>@Model.NewPassword</b>, and you should change it at your earliest convenience! 
}