
@model TheDaveSite.ViewModels.Account.ResetRequest_ViewModel

<h2>Reset request status:</h2>

@if (Model.AccountFound){
    @: A link has been emailed to the provided address. 
}
else
{
    @: We could not find an account with that registered email address!   
}